<div class="container-md mt-5">
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column mb-3">
      <h1>Conversor de moedas</h1>

      <app-input
        [holder]="'Quantidade de Pessoas'"
        (sendValue)="getNPessoas($event)"
      ></app-input>

      <app-input
        [holder]="'Número de comodos'"
        (sendValue)="getNComodos($event)"
      ></app-input>

      <app-checkbox
        [holder]="'Máquina de Lavar'"
        (sendValue)="getMqLavar($event)"
      ></app-checkbox>

      <app-checkbox
        [holder]="'Máquina de Secar Roupas'"
        (sendValue)="getMqSecar($event)"
      ></app-checkbox>

      <app-input
        [holder]="'Quantidade de TVs'"
        (sendValue)="getNTv($event)"
      ></app-input>

      <app-input
        [holder]="'Quantidade de Computadores'"
        (sendValue)="getNComputador($event)"
      ></app-input>

      <app-input
        [holder]="'Tarifa Energética'"
        (sendValue)="getTarifa($event)"
      ></app-input>

      <app-button [holder]="'Calcular'" (click)="calcular()"></app-button>
    </div>
  </div>
</div>
